# Node
node_modules/
pnpm-lock.yaml

# Build
dist/
.next/
apps/**/dist/
apps/**/.next/
apps/**/out/

# Logs
*.log

# TS
*.tsbuildinfo

# Env
.env
.env.*

# IDE
.vscode/
.idea/
.DS_Store

# Nest CLI
apps/server/.nestjs/